# Node
node_modules/
**/node_modules/

# Environment files
.env
backend/.env
frontend/.env
backend/temp
# Build / Output
frontend/dist/
backend/dist/

# Logs
logs/
*.log
npm-debug.log*
yarn-error.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Coverage / Cache
coverage/
.parcel-cache/
.turbo/

# Misc
.history/

docs/